@model GoodReads.Models.Users

<br><br><br />

@if (!Session["auth"].Equals("no"))
{
    using (Html.BeginForm("Edit", "Users", FormMethod.Post))
    {
        <div class="form-group">
        <label>Enter new password: </label>
        @Html.PasswordFor(model => model.Password)
            </div>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-default"/>
            </div>


    }

}
