@model GoodReads.Models.BookDetails



<br>
   
   <a href="/Users/Edit" class="btn btn-block btn-primary" style="height:5vw; font-variant:small-caps; font-size: 2.5vw;">Edit passowrd</a>      
    
 <a href="/BookDetails/Index" class="btn btn-block btn-primary" style="height:5vw; font-variant:small-caps; font-size: 2.5vw;">Explore the books</a>
       

